<div id="datos">
    <form>
    <h1>Datos de usuario {{mensaje}}</h1>
    <fieldset id="inputs">
        <input type="text" id="nombre" placeholder="Nombre" autofocus required ng-model="name"><br>
        <input type="text" id="apePat" placeholder="Apellido Paterno" required ng-model="apePat"><br>
        <input type="text" id="apeMat" placeholder="Apellido Materno" required ng-model="apeMat"><br>
        <input type="text" id="edad" placeholder="Edad" required ng-model="edad"><br>
        <input type="text" id="sexo" placeholder="Sexo" autofocus required ng-model="sexo"><br>
                
       </fieldset>
       
    </form>
</div>